<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<form action="/inv/edit" method="POST" novalidate>

  <!-- Hidden ID -->
  <input type="hidden" name="inv_id" value="<%= formData.inv_id %>">

  <label for="inv_year">Year:
    <input type="number" id="inv_year" name="inv_year" required
      value="<%= formData.inv_year || '' %>">
  </label><br><br>

  <label for="inv_make">Make\Brand:
    <input type="text" id="inv_make" name="inv_make" required
      value="<%= formData.inv_make || '' %>">
  </label><br><br>

  <label for="inv_model">Model:
    <input type="text" id="inv_model" name="inv_model" required
      value="<%= formData.inv_model || '' %>">
  </label><br><br>

  <label for="inv_color">Color:
    <input type="text" id="inv_color" name="inv_color" required
      value="<%= formData.inv_color || '' %>">
  </label><br><br>

  <label for="inv_miles">Miles:
    <input type="number" id="inv_miles" name="inv_miles" required
      value="<%= formData.inv_miles || '' %>">
  </label><br><br>

  <label for="inv_description">Description:
    <input type="text" id="inv_description" name="inv_description" required
      value="<%= formData.inv_description || '' %>">
  </label><br><br>

  <label for="inv_image">Image:
    <input type="text" id="inv_image" name="inv_image" required
      value="<%= formData.inv_image || '' %>">
  </label><br><br>

  <label for="inv_thumbnail">Thumbnail:
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
      value="<%= formData.inv_thumbnail || '' %>">
  </label><br><br>

  <label for="inv_classification_id">Classification:
    <select id="inv_classification_id" name="inv_classification_id" required>
      <option value="">Select Classification</option>
      <% classifications.forEach(classification => { %>
        <option 
          value="<%= classification.classification_id %>"
          <%= formData.classification_id == classification.classification_id ? 'selected' : '' %>>
          <%= classification.classification_name %>
        </option>
      <% }) %>
    </select>
  </label><br><br>

  <label for="inv_price">Price:
    <input type="number" id="inv_price" name="inv_price" required
      value="<%= formData.inv_price || '' %>">
  </label><br><br>

  <button type="submit">Update Inventory</button>
</form>

<p>
  <a href="/inv/management">&larr; Back to Vehicle Management</a>
</p>

<% messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
